@import "tailwindcss";
@import "@nuxt/ui";

@theme static{
    --font-sans: 'Public Sans', sans-serif;

    --breakpoint-3xl: 1920px;

    --color-purple-50: #F5F3FF;
    --color-purple-100: #ECE9FE;
    --color-purple-200: #D6D2FE;
    --color-purple-300: #B4A7F9;
    --color-purple-400: #9287F5;
    --color-purple-500: #7067F1;
    --color-purple-600: #5952C4;
    --color-purple-700: #47429D;
    --color-purple-800: #38357A;
    --color-purple-900: #2D2B66;
    --color-purple-950: #1E1C40;

        --ui-primary: var(--color-purple-500);
        --ui-neutral: var(--color-zinc-500);
        --ui-primary-content: var(--color-purple-50);
        --ui-neutral-content: var(--color-zinc-50);
        --ui-primary-hover: var(--color-purple-600);
        --ui-neutral-hover: var(--color-zinc-600);
        --ui-primary-active: var(--color-purple-700);
        --ui-neutral-active: var(--color-zinc-700);

}